html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


.login-header {
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
    border-style: solid;
    border: 1em;
}

.login-form p {
    padding: .5rem;
    display: inline-block;
}


.login-form > form > input{
    display: block;
    background-color: aliceblue;
}