{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pokedex</title>

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/ff1d9ad615.js" crossorigin="anonymous"></script>
</head>


<body>
  {% include 'partials/_navbar.html' %}

  <main>
    {% csrf_token %}
    <div id="app">
      <div class="container mt-5 bt-5">
        <div class="row d-flex justify-content-center" v-if="Object.keys(pokemon).length">
          <div class="col m-3" v-for="item in pokemon" :key='item.id' :item="item">
            <div class="card mx-auto primary bg-success bg-opacity-10 text-center" style="width: 12rem;"
              @click="loadDetail(item)">
              <img :src="[[item.image_front]]" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center text-capitalize">[[item.name]]</h5>
                <span class="card-subtitle text-muted p-1" v-for="item in item.type_info">[[item.type]]</span>
                <br>
                <a href="#" class="card-link text-center text-decoration-none mt-1">Catch</a>
                <a href="#" class="card-link text-center text-decoration-none mt-1">Release</a>
              </div>
            </div>
          </div>
        </div>
        <div class="container" v-if="Object.keys(detail).length">
          <div class="row d-flex text-center">
            <div class="col-12">
              <h1>[[detail.name]]</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card text-center mx-auto" style="width: 18rem;">
                <img :src="[[detail.image_front]]" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted text-start"># [[detail.number]]</small></p>
                  <p class="card-text m-0">Weight: [[detail.weight]] kg</p>
                  <p class="card-text">Height: [[detail.height]] m</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static '/app.js' %}"></script>
</body>

</html>